
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li:hover{
    background-color:gray;
    border-radius:10px;
    border:1px solid yellow;


}

#image1{
    margin-top:1px;
    background-color:#d4e9e2;
    display:flex;


}
#image1bg{
    background-color:#d4e9e2;
}

#image1-heading{
    text-align:center;
    margin-top:28px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size:2rem;
}
#image1-para{
    text-align:center;
    margin-top:1.8125rem;
    font-size:1.3rem;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;

}

#section2{
    margin-top:2.375rem;
    padding:0;
}

#image2{
    display:flex;

}
#image2bg{
    background-color: #f6bfd9;
}
#image2-heading{
    text-align:center;
    margin-top:12.5rem;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size:2.8rem;
}
#image2-para{
    text-align:center;
    margin-top:28px;
    font-size:25px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;

}
#joinnow3{
    border-radius: 1.75rem;
    text-align: center;
    font-size: 1rem;
    padding: 5px 1rem;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight:550;
    margin-top:1rem;
    line-spacing:1.2rem;
}